.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area {
    background-color: antiquewhite;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    min-height: 100vh;
    background-size: cover !important;
}

#dashboard {
    background: url("../img/background.jpg");
    background-position: center;
}

.title h3 {
    margin-top: 5px;
    text-align: center;
}
.card2 {
    background-color: white !important;
    margin-top: 21px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 25px;
    box-shadow: #000000;
    border-style: groove;
    /* margin-top: 2cm; */
}
.href {
    padding-bottom: 10px;
}
.delete {
    margin-left: 5px !important;
}

.label1 {
    padding-top: 14px;
}

.title {
    font-family: serif;
    padding-bottom: 5px;
}
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
    margin-top: 0px;
    padding: 0px;
}

body {
    font-family: "Exo", sans-serif;
}
